.editcard{
    background-color: rgb(53, 50, 50);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px  rgb(255, 0, 0);
}



.head{
    color: aliceblue;
     font-family: Serif;
     font-size: 30px;
}
.data{
    color: aliceblue;
     /* font-family: Serif; */
     font-size: 20px;
}
.editLabel{
    color: #fff;
     font-size: 15px;
     /* text-align: left */
}
